@{
ViewBag.Title = "Home";
}


<div class="jumbotron" style="color:#4ba2ed; background: url(../../Content/Images/home/backgroud.jpg) no-repeat center center fixed; background-size:1024px; padding-bottom:100px; text-align:center">
    <div class="animated fadeInUp" style="animation-delay:1s;">
        <h1>Ready Set Resource</h1>
        <p class="lead">Resource allocation made easy.</p>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
    <p style="padding-top:200px">@Html.ActionLink("Launch Dashboard!", "Index", "Dashboard", new { area = "Apps" }, new { @class = "btn btn-primary" })</p>
    }
    else
    {
        <p style="padding-top:200px"><a href="#TheFutureOfManaging" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    }
</div>


<div class="row" id="TheFutureOfManaging" style="padding-bottom:25px;">
    <h2 style="text-align:center">Managing, the future.</h2>
    <div class="col-md-4" style="height:300px; align-content:center;">
        <img src="~/Content/Images/home/cogwheels.png" style=" height:100%; display:block; margin-left:auto; margin-right:auto;">
    </div>
    <div class="col-md-8" style="text-align:justify">

        <p style="padding-top:25px;">
            With many years in the retail industry, our team have pinpointed numerous flaws in backend operations of
            different companies and through extensive market research we have analysed and targeted the biggest issues.
        </p>
        <p>
            We decided to come together to design and develop a website that we hope will help your company thrive in
            an ever increasing competitive market by allowing you to focus on more important tasks and increase productivity.
        </p>
        <p>
            To get to know us a bit better why don't you head over to our story and get introduced to our team...
        </p>
        <p>
            @Html.ActionLink("Get to know us!", "OurStory", "Home", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>
<hr>
<div style="padding-top:50px">
    <h2 style="text-align:center">Our Solution</h2>
    <p style="text-align:center">
        We decided to create powerful but simple to use apps that can help your company excel.
    </p>
    <div class="row" style="text-align:justify">
        <div class="col-md-4">
            <img src="~/Content/Images/home/rota.png" style=" padding-top:10px; padding-bottom:10px; width:auto; display:block; margin-left:auto; margin-right:auto;">
            <p>
                The rota app is a great way for everyone to track their shifts and other's too!
                With an inbuilt holiday planner everone can request holidays and the managers
                can accept or decline them giving control to only the people you want.
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/home/messages.png" style=" padding-top:30px; padding-bottom:30px; width:auto; display:block; margin-left:auto; margin-right:auto;">
            <p>
                Messages allows you to chat with others in your workplace. Enabling you to
                connect with peers and share moments as well as plan shift swaps or plan
                meetings.
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/home/meetings.png" style=" padding-top:22px; padding-bottom:20px; width:auto; display:block; margin-left:auto; margin-right:auto;">
            <p>
                Meetings enables you to set company meetings. It allows you to set date, times
                and even topics of discussions. It can show you past, present and future meetings
                so you can manage your time most efficiently.
            </p>
        </div>
    </div>

    <div class="row" style="text-align:justify">
        <div class="col-md-4">
            <img src="~/Content/Images/home/ideas.png" style="padding-top:20px; padding-bottom:20px; width:auto; display:block; margin-left:auto; margin-right:auto;">
            <p>
                This is the heart and community of your company. Ideas allows your employees
                to voice their opinions and add ideas on how to improve your business.
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/home/store.png" style=" padding-top:18px; padding-bottom:18px;width:auto; display:block; margin-left:auto; margin-right:auto;">
            <p>
                The store is where you can upload products that you may provide to your employees
                such as stationary or uniforms and they may request for these items to use.
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/home/update.png" style=" padding-top:22px; padding-bottom:22px;width:auto; display:block; margin-left:auto; margin-right:auto;">
            <p>
                Updates are where you can send company wide announcements to you employees
                notifying them on sales drives and campaign updates making sure all staff
                members are on the same page.
            </p>
        </div>
    </div>
    <div style="text-align:center">
        @Html.ActionLink("Learn more!", "Solutions", "Home", null, new { @class = "btn btn-primary" })
    </div>
</div>
