@model ReadySetResource.ViewModels.HolidaysViewModel

@{
    ViewBag.Title = "Holidays";
    Layout = "~/Areas/Apps/Views/Shared/_Layout.cshtml";
}

<style>
    a:link {
        color: inherit;
    }

    a:visited {
        color: inherit;
    }

    
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        border-radius: 10px 10px 10px 10px;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    img {
        border-radius: 10px 10px 0 0;
    }

    .container {
        padding: 2px 16px;
    }

    .center {
        margin: auto;
        width: 80%;
        padding: 10px;
    }
</style>

<br>



<a href="@Url.Action("Holiday")">
    <div class="col-md-6">
        <div class="center">
            <div class="card" style="background-color:white;">
                <div style="background:url('https://maps.googleapis.com/maps/api/staticmap?center=220+Buchanan+St,Glasgow&zoom=13&size=600x200&maptype=roadmap&key=AIzaSyBeMqj8dnwp7BnS8DOWLVA0rJyT0yx_imo') no-repeat center; width:100%;height:200px;border-radius: 10px 10px 0 0;">
                </div>
                <div class="container" style="background-color:#F2F2F2;">
                    <h4><b style="white-space: nowrap;">Duration + Location</b> </h4>
                </div>
            </div>
        </div>
    </div>
</a>


@Html.ActionLink("Add Holiday", "Add", "Holidays", null, new { @class = "btn btn-default" })

