SELECT * FROM [dbo].[Businesses];
SELECT * FROM [dbo].[BusinessUserTypes];
SELECT * FROM [dbo].[AspNetUsers];

DELETE FROM [dbo].[Businesses];
DELETE FROM [dbo].[BusinessUserTypes];
DELETE FROM [dbo].[AspNetUsers];

SELECT * FROM [dbo].[Businesses];
SELECT * FROM [dbo].[BusinessUserTypes];
SELECT * FROM [dbo].[AspNetUsers];