
@{
    ViewBag.Title = "Legal Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4" style="text-align:center; padding-bottom:60px; padding-top:60px">
        <img src="~/Content/Images/legal/privacy.png" height="200px">
        <h2>Privacy Policy</h2>
        <p>
            Our privacy policy incudes topics such as information collection, processing and usage
            so that we can provide a better user experience.
        </p>
        <p>@Html.ActionLink("Learn More >", "PrivacyPolicy", "Legal", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-4" style="text-align:center; padding-bottom:60px; padding-top:60px">
        <img src="~/Content/Images/legal/terms.png" height="200px">
        <h2>Terms & Conditions</h2>
        <p>
            Our terms include our services, payment terms and guarantees as well as 
            breaches in contract and legalities that apply. 
        </p>
        <p>@Html.ActionLink("Learn More >", "TermsConditions", "Legal", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
    <div class="col-md-4" style="text-align:center; padding-bottom:60px; padding-top:60px">
        <img src="~/Content/Images/legal/copyright.png" height="200px">
        <h2>Copyright Policy</h2>
        <p>
            Our copyright policy includes topics such as internal and external usages of material
            and intelectual property.
        </p>
        <p>@Html.ActionLink("Learn More >", "CopyrightPolicy", "Legal", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
</div>

