
@{
    ViewBag.Title = "Business Settings";
    Layout = "~/Areas/Apps/Shared/_Layout.cshtml";
}

<h2>Business Settings</h2>

<div class="col-md-6 animated fadeInUp" style="animation-duration:2s">
    <h3>Employee Types</h3>
</div>
<div class="col-md-6 animated fadeInUp" style="animation-delay:1s; animation-duration:2s">
    <h3>Employees</h3>
</div>