
@{
    ViewBag.Title = "Not Authorised";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center"> 
    <h2 style="padding-top:10%;">Not Authorised</h2>

    <div style="padding-top:20px;padding-bottom:25%;">
        @ViewBag.Message
    </div>
</div>

