@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right", style= "color:#ffffff" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right" >
        <li>
            @Html.ActionLink("Launch Dashboard!", "Index", "Dashboard", new { area = "Apps" }, htmlAttributes: new { title = "Launch Dashboard", style = "color:#ffffff" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" style="color:#ffffff">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign Up", "Solutions", "Get", routeValues: null, htmlAttributes: new { id = "registerLink", style = "color:#ffffff" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", style = "color:#ffffff" })</li>
    </ul>
}