
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Welcome to RSR!</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link rel="stylesheet" href="~/Content/animate.css">
    </head>
    <body class="animated bounceInDown" style="text-align:center; align-content:center;">
        <div style="border-color:black; border-width:thin;">
            <h1>Welcome to</h1> 
            <h1 style="font-size:80px;">Ready Set</h1>
            <h1 style="font-size:80px;">Resource</h1>

            <h2>You're all set.</h2>
            <h2>We're super excited to have you on board!</h2>

            @Html.ActionLink("Let's get started!", "Home", "Dashboard", null, new { @class = "btn btn-primary"})
        </div>
    </body>
</html>
