




body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#rota {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

#rota td, #customers th {
    border: 1px solid #ddd;
    padding: 6px;
    width: 1%;
}

#rota tr:nth-child(even) {
    background-color: #f2f2f2;
}

#rota tr:hover {
    background-color: #ddd;
}

#rota th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    background-color: #428bca;
    color: white;
}




